.TabWrapper {
    margin-top: 10px;
}

.tabSwitchers {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 25px;
}

.Switcher {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    width: 33.33333%;
}

.Switcher:hover {
    background-color: lightcyan;
}

.Switcher.current {
    background-color: lightcyan;
}

.Switcher:nth-child(3) {
    border-right:  1px solid #333333;
}

.TabItemsBlock {

}