.TabWrapper {
    margin-top: 10px;
}

.tabSwitchers {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 25px;
}

.Switcher {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    width: 33.33333%;

    &:hover {
        background-color: lightcyan;
    }

    &.current {
        background-color: lightcyan;
    }

    &:nth-child(3) {
        border-right:  1px solid #333;
    }
}

.TabItemsBlock {
    border: 1px solid #969696;
}
